<?xml version="1.0" ?><robot>
	<!-- ***************** -->
	<!-- base calibration -->
	<!-- ***************** -->
	<!-- laser front mount positions | relative to base_link -->
	<property name="laser_front_x" value="0.325"/>
	<property name="laser_front_y" value="0.0"/>
	<property name="laser_front_z" value="0.135"/>
	<property name="laser_front_roll" value="0"/>
	<property name="laser_front_pitch" value="0"/>
	<property name="laser_front_yaw" value="0"/>

	<!-- laser rear mount positions | relative to base_link -->
	<property name="laser_rear_x" value="-0.325"/>
	<property name="laser_rear_y" value="0.0"/>
	<property name="laser_rear_z" value="0.135"/>
	<property name="laser_rear_roll" value="0"/>
	<property name="laser_rear_pitch" value="0"/>
	<property name="laser_rear_yaw" value="3.1415926"/>

	<!-- laser top mount positions | relative to base_link -->
	<property name="laser_top_x" value="-0.252"/>
	<property name="laser_top_y" value="0.0"/>
	<property name="laser_top_z" value="0.42"/>
	<property name="laser_top_roll" value="0"/>
	<property name="laser_top_pitch" value="0"/>
	<property name="laser_top_yaw" value="0"/>

	<!-- *********************** -->
	<!-- upper robot calibration -->
	<!-- *********************** -->
	<!-- tray mount positions | relative to base_link -->
	<property name="tray_x" value="0.2406"/>
	<property name="tray_y" value="0.1900"/>
	<property name="tray_z" value="0.7320"/>
	<property name="tray_roll" value="2.3561"/>
	<property name="tray_pitch" value="0"/>
	<property name="tray_yaw" value="0"/>

	<!-- torso mount positions | relative to base_link -->
	<property name="torso_x" value="0.1558235494"/>
	<property name="torso_y" value="4.39701e-05"/>
	<property name="torso_z" value="0.8931471437"/>
	<property name="torso_roll" value="1.572403641"/>
	<property name="torso_pitch" value="0.0079347255"/>
	<property name="torso_yaw" value="0.0074178435"/>

	<!-- arm mount positions | relative to base_link -->
	<property name="arm_x" value="0.02997525"/>
	<property name="arm_y" value="-0.0049586043"/>
	<property name="arm_z" value="0.8363491605"/>
	<property name="arm_roll" value="3.14"/>
	<property name="arm_pitch" value="0.7854"/>
	<property name="arm_yaw" value="-1.8326"/>

	<!-- *********************************** -->
	<!-- kinematic chain reference positions -->
	<!-- *********************************** -->
	<!-- torso chain calibration_offest! | relative to reference position (see below)-->
	<property name="torso_lower_neck_tilt_ref" value="-0.0047749932855367661"/>
	<property name="torso_pan_ref" value="0.0080133378505706787"/>
	<property name="torso_upper_neck_tilt_ref" value="0.00624334672"/>

	<!-- torso reference positions | used as calibration_rising for torso chain -->
	<!-- ! set these values to make torso straight with (0, 0, 0) joint angles ! -->
	<!--property name="torso_lower_neck_tilt_ref" value="-0.24501037"/>
	<property name="torso_pan_ref" value="-0.0146"/>
	<property name="torso_upper_neck_tilt_ref" value="+0.14419551"/-->

	<!-- tray reference position | used as calibration_rising for tray chain -->
	<property name="tray_ref" value="0"/>

	<!-- head camera axis reference position | used as calibration_rising for head axis chain -->
	<property name="head_axis_ref" value="0.15"/>

	<!-- arm reference positions | used as calibration_rising for arm chain-->
	<property name="arm_1_ref" value="0.69459313154220581"/>
	<property name="arm_2_ref" value="0.028978666290640831"/>
	<property name="arm_3_ref" value="-0.086509302258491516"/>
	<property name="arm_4_ref" value="-0.029241520911455154"/>
	<property name="arm_5_ref" value="0.51512444"/>  
	<property name="arm_6_ref" value="-0.000278873281786218"/>
	<property name="arm_7_ref" value="-0.4701393544673919"/>

	<!-- ***************************** -->
	<!-- camera calibration properties -->
	<!-- ***************************** -->
	<!-- left | handeye calibration | relative to head_axis_link -->
	<property name="cam_l_x" value="0.0"/>
	<property name="cam_l_y" value="0.05"/>
	<property name="cam_l_z" value="-0.06"/>
	<property name="cam_l_roll" value="0.0"/>
	<property name="cam_l_pitch" value="-1.5707963268"/>
	<property name="cam_l_yaw" value="0.0"/>

	<!-- right | stereo baseline calibration | relative to left camera -->
	<property name="cam_r_x" value="0.11981077231"/>
	<property name="cam_r_y" value="-0.00097314559762"/>
	<property name="cam_r_z" value="0.000605187580201"/>
	<property name="cam_r_roll" value="0.00190440172385"/>
	<property name="cam_r_pitch" value="0.00546937089744"/>
	<property name="cam_r_yaw" value="-0.00237736541029"/>

	<!-- cam3d | handeye calibration | relative to head_axis_link -->
	<property name="cam3d_x" value="-0.002"/>
	<property name="cam3d_y" value="0.02"/>
	<property name="cam3d_z" value="0.02"/>
	<property name="cam3d_roll" value="0.0"/>
	<property name="cam3d_pitch" value="-1.5707963268"/>
	<property name="cam3d_yaw" value="0.0"/>
</robot>
